<div class="w-1/2 md:w-1/4 p-6 mb-6">
  <div id="post-id-<%= post.id %>">
    <div class="overflow-hidden">
     <div class="object-cover object-center h-full w-full border">
      <%= image_tag post.image_url(:thumb)%>
     </div>
    </div>
  </div>
</div>
