<div class="max-w-screen-md px-4 pb-10 mx-auto">
  <% if current_user&.general? || current_user&.admin? %>
    <%= render 'comments/form', post: @post, comment: @comment %>
  <% end %>
  <div class="divide-y">
    <% if @comments.exists? %>
      <%= render @comments %>
    <% else %>
    <% end%>
  </div>
</div>
