<div class="w-1/2 md:w-1/4 p-6 mb-6">
  <div id="sample-id-<%= sample.id %>">
    <div class="overflow-hidden">
     <div class="object-cover object-center h-full w-full border">
     <p><%= @samples.title %></p>
     </div>
    </div>
  </div>
</div>
