<div class="bg-white max-w-sm rounded overflow-hidden shadow-lg">
  <div id="post-id-<%= post.id %>">
    <div class="px-6 py-4">
      <%= image_tag post.image_url, size: '300x200' %>
        <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
          <h1 class="title-font text-lg font-medium text-gray-900 mb-3"><%= post.user.name %></h1>
          <p class="leading-relaxed"><%= post.title %></p>
        </div>
    </div>
  </div>
</div> 
