 <body>
    <div class="flex w-[720px] h-[378px]">
      <!-- Step.1 -->
      <section class="w-full bg-primary-100">
        <div class="flex flex-col justify-center items-center h-full p-8">
          <p class="text-amber-500 mb-2 text-sm">Step. 1</p>
          <p class="text-primary-900 mb-8 text-lg">行きたい場所を探す</p>
          <p class="text-primary-900">
            「Posts」で気にになる場所を探してみよう!地域別、ハッシュタグで興味のある分野から
            絞り込み検索ができます！
          </p>
        </div>
      </section>

      <section class="w-full bg-primary-300 text-primary-900">
        <div class="flex flex-col justify-center items-center h-full p-8">
          <p class="text-amber-500 mb-2 text-sm">Step. 2</p>
          <p class="text-primary-900 mb-8 text-lg">投稿してみる</p>
          <p class="text-primary-900">
          「New Posts」でお気に入りの場所をシェアしよう!旅行先でなくても地元のお気に入りの場所や好きなお店の投稿でも
           大丈夫です!
           投稿するときはロケーションとハッシュタグの選択を忘れないでね！
           投稿完了すると自分のお気に入りの場所のアルバムがマイページに作られます！
          </p>
        </div>
      </section>

      <!-- Step.3 -->
      <section class="w-full bg-primary-500 text-primary-900">
        <div class="flex flex-col justify-center items-center h-full p-8">
          <p class="text-amber-500 mb-2 text-sm">Step. 3</p>
          <p class="text-primary-900 mb-8 text-lg">旅行を計画</p>
          <p class="text-primary-900">
            行きたい場所を見つけたら
            Menus>Planで簡単な旅程表、旅の計画ができるます
            Planを作成すると自動でカレンダーに予定が表示されます!
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
<img src="https://source.unsplash.com/rf6ywHVkrlY" alt="" width="1800" height="100" />