<div class="max-w-md font-serif text-center object-center py-4 px-8 bg-white shadow-lg rounded-lg my-20">
<h1>プラン一覧</h1>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plans| %>
      <tr>
        <td><%= plans.title %>
         <a>詳細<a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="bg-red-50 max-w-md object-center py-4 bg-px-8 bg-white shadow-lg rounded-lg my-20">
<h1 >カレンダー</h1>
<%= month_calendar(events: @plans) do |date, plans| %>
  <%= date %>

  <% plans.each do |plan| %>
    <div>
      <%= plan.title %>
    </div>
  <% end %>
<% end %>
</div>